/*
Syntax error: Undefined mixin 'max-width'.
        on line 48 of /Users/jameslarson/_Work/vagrant/public/ccsf.vbox.local/www/sites/all/themes/ccsf_theme/sass/ccsf/template-6.scss, in `max-width'
        from line 48 of /Users/jameslarson/_Work/vagrant/public/ccsf.vbox.local/www/sites/all/themes/ccsf_theme/sass/ccsf/template-6.scss

43: 	background: -o-linear-gradient(left, #f7f7f7 25%,#ffffff 24%,#ffffff 100%); /* Opera 11.10+ *\/
44: 	background: -ms-linear-gradient(left, #f7f7f7 25%,#ffffff 24%,#ffffff 100%); /* IE10+ *\/
45: 	background: linear-gradient(to right, #f7f7f7 25%,#ffffff 24%,#ffffff 100%); /* W3C *\/
46: 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 *\/
47: 	position:relative;
48: 	@include max-width;
49: 	margin:auto;
50: 	padding:0 !important;
51: 	//width:100%;
52: 
53: 	.panels-flexible-region-inside{

Backtrace:
/Users/jameslarson/_Work/vagrant/public/ccsf.vbox.local/www/sites/all/themes/ccsf_theme/sass/ccsf/template-6.scss:48:in `max-width'
/Users/jameslarson/_Work/vagrant/public/ccsf.vbox.local/www/sites/all/themes/ccsf_theme/sass/ccsf/template-6.scss:48
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/tree/visitors/perform.rb:253:in `visit_mixin'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/tree/visitors/perform.rb:109:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/tree/visitors/perform.rb:121:in `with_environment'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/tree/visitors/perform.rb:108:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/tree/visitors/perform.rb:320:in `visit_rule'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/tree/visitors/perform.rb:109:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/tree/visitors/perform.rb:121:in `with_environment'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/tree/visitors/perform.rb:108:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/tree/visitors/perform.rb:128:in `visit_root'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/tree/root_node.rb:20:in `render'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/engine.rb:315:in `_render'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/engine.rb:262:in `render'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/plugin/compiler.rb:362:in `update_stylesheet'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/plugin/compiler.rb:203:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/plugin/compiler.rb:201:in `each'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/plugin/compiler.rb:201:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/plugin/compiler.rb:283:in `watch'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/vendor/listen/lib/listen/multi_listener.rb:117:in `initialize_adapter'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/vendor/listen/lib/listen/adapters/polling.rb:56:in `call'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/vendor/listen/lib/listen/adapters/polling.rb:56:in `poll'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/vendor/listen/lib/listen/adapters/polling.rb:32:in `start'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/vendor/listen/lib/listen/adapters/polling.rb:32:in `initialize'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/vendor/listen/lib/listen/adapters/polling.rb:32:in `new'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/vendor/listen/lib/listen/adapters/polling.rb:32:in `start'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/vendor/listen/lib/listen/multi_listener.rb:44:in `start'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/plugin/compiler.rb:291:in `watch'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/plugin.rb:107:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/plugin.rb:107:in `method_missing'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/exec.rb:463:in `watch_or_update'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/exec.rb:326:in `process_result'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/exec.rb:41:in `parse'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/../lib/sass/../sass/exec.rb:21:in `parse!'
/Library/Ruby/Gems/1.8/gems/sass-3.2.14/bin/sass:13
/usr/bin/sass:19:in `load'
/usr/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'max-width'.\A         on line 48 of /Users/jameslarson/_Work/vagrant/public/ccsf.vbox.local/www/sites/all/themes/ccsf_theme/sass/ccsf/template-6.scss, in `max-width'\A         from line 48 of /Users/jameslarson/_Work/vagrant/public/ccsf.vbox.local/www/sites/all/themes/ccsf_theme/sass/ccsf/template-6.scss\A \A 43: 	background: -o-linear-gradient(left, #f7f7f7 25%,#ffffff 24%,#ffffff 100%); /* Opera 11.10+ */\A 44: 	background: -ms-linear-gradient(left, #f7f7f7 25%,#ffffff 24%,#ffffff 100%); /* IE10+ */\A 45: 	background: linear-gradient(to right, #f7f7f7 25%,#ffffff 24%,#ffffff 100%); /* W3C */\A 46: 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */\A 47: 	position:relative;\A 48: 	@include max-width;\A 49: 	margin:auto;\A 50: 	padding:0 !important;\A 51: 	//width:100%;\A 52: \A 53: 	.panels-flexible-region-inside{"; }
