// _variables.scss


/* Colors */
$blue: #0072BD;
$link-color:#0072BD;
$orange:#E86A47;
$white:#ffffff;
$light-blue:#D3ECF4;
$light-blue-two:#CEF2FE;
$cream:#FFF3DE;
$light-green:#DEF6CC;
$green:#2C9F3E;

$grey-one:#AAAAAA;
$grey-two:#333333;
$grey-three:#2D2D2D;
$grey-four:#444444;
$grey-five:#EEEEEE;
$grey-six:#F5F5F5;
$grey-seven:#F7F7F7;
$grey-eight:#CCCCCC;
$grey-nine:#DDDDDD;
$grey-ten:#fbfbfb;

$font-black:#222222;
$font-grey:#666666;

/* Fonts */
$font-one: "Helvetica", Helvetica, Arial, sans-serif; 
$font-two: 'Droid Serif', serif;
$icon-font: 'fontello';

/* Font Sizes */
$fourteen:.857em;
$sixteen:1em;
$eighteen:1.125em;

/* Font Colors */
$font-grey:#878787;

/* Doc Width */
$max-width:1134px;

/* Sidebar Widths */
$sidebarwidth : 25%;
$contentwidth : 75%;//oposite of sidebar