// _tips_section.scss

#tips-block{
	#tips-bock-heading{
		text-align:center;
		h3{
			@include font-h1($font-black);
			padding:90px 0 22px 0;
			color:red;
		}
		p{
			@include font-body1($font-grey);
			width:890px;
			margin:auto;
		}
	}

}