/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/


#contact-us-wrap{  margin: 0 auto; padding:40px 0 70px 30px; }
#swipe_control:after{
  font-family:'fontello';
  content:'\e890';
  font-size:1.5em;
  color:#ffffff;
  margin:0 0 0 2px;  
}
/*
Note: This code is commented becuase the same css code is written in ccsf_feedback.css as well

#swipe_lock {
	float: left;
  background: #f5f5f5;
  height: 54px;
  width: 334px;
	overflow: hidden;
	-webkit-user-select: none;
  position: relative;
  margin-right: 20px;
}
#swipe_lock #swipe_control {
  float: left;
	height: 54px;
  width: 54px;
  background: #0085d0;
	display: inline-block;
	line-height: 54px;
  text-align: center;
  cursor: pointer;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
#swipe_lock #swipe_control .icon-right-dir {
  color: #fff;
  font-size: 20px;
}
#swipe_control:after{
  font-family:'fontello';
  content:'\e890';
  font-size:1.5em;
  color:#ffffff;
  margin:0 0 0 2px;  
}
#swipe_lock #swipe_control.unlocked {
  background-color: #666;
  cursor: default;
}

#swipe_lock .swipe_text {
   

 font-size: 18px;
  color: #666;
  text-align: center;
  font-weight: 400;
  padding: 0;
  -webkit-text-size-adjust: none;
  margin: 0; padding: 0;
  float: left;
  width: 280px;
  margin-left: -27px;
  display: block;
  line-height: 54px;
}*/

.clear {
  clear: both;
}


#contact_form .row {
  margin-bottom: 30px;
}
#contact_form .field-group {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin-bottom: 20px;
  /*border: 1px solid red;*/
}

#contact_form .field-group .field {
  position: relative;
  margin: 0;
}
#contact_form .field-group-left {
  float: left;
  width: 50%;
  padding-right: 10px;
}
#contact_form .field-group-right {
  float: right;
  width: 50%;
  padding-left: 10px;
}
#contact_form .field .ph-text {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  padding: 12px 13px 10px 13px;
  font-weight: 400;
  font-size: 19px;
  line-height: 1.4em;
  color: #A3A3A3;
  background: #f5f5f5;
  box-sizing: border-box;
}
#contact_form .field-textarea .ph-text {
  height: 200px;
}
::-webkit-input-placeholder {
  color: #333;
}
:-moz-placeholder {
  color: #333;
}
:-ms-input-placeholder {
  color: #333;
}
.placeholder {
  color: #333;
}
#contact_form .txtBox {
  width: 100%;
  padding: 12px 13px 10px 13px;
  font-size: 19px;
  line-height: 1.4em;
  background: #f5f5f5;
  border: none; outline: none;
  color: #666666;
  box-sizing: border-box;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
}
#contact_form textarea.txtBox {
  height: 200px;
  resize: none;
  line-height: 22px;
  box-sizing: border-box;
}
#contact_form .txtBox:focus {
  background: #E0E0E0;
}
.hidden {display: none;}
.error_input {
  /*border: 1px solid #FF8B00;*/
  box-sizing: border-box;
}
.field_error {
  margin-top: 3px;
  color: #FF8B00;
  display: none;
}
#contact_form .field_error strong {
  font-weight: 400;
}
#contact_form .field-group-submit {
  padding: 0 !important;
}

#contact_form .btn-submit {
  color: #fff;
  background: #0085d0;
  border: none;
 font-weight: lighter;
  font-size: 18px;
  line-height: 54px;
  padding: 0 30px 0 30px;
  margin: 0 !important;
  cursor: pointer;
  /*display:block;*/
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  letter-spacing:0.03em;
  font-family:"Helvetica", Helvetica, Arial, sans-serif !important;
    
   /* color:$color;*/
    /*font-weight:100;*/
   /* line-height:1.35em;*/
}
#contact_form .btn-submit.locked {
  background: #666;
  cursor: default;
  opacity:0;
  /*display:none;*/
}
#contact_form input.btn-submit:after {
  content:'\e88d';
  font-family:'fontello';
  display:inline-block;
  font-style:normal;
  color: red;
}


/* =Custom Dropdown
-------------------------------------------------------------- */
.dropdown{
  margin:0;
}
.dropdown dd, .dropdown dt, .dropdown ul {
	margin:0px;
	padding:0px;
  font-size: 19px;
  line-height: 1.4em;
  font-weight: 400;
}
.dropdown ul {

}
.dropdown dd {
	position:relative;
}
.dropdown a, .dropdown a:visited {
	color:#666;
	text-decoration:none;
	outline:none;
}
.dropdown a:hover {
	color:#666 !important;
}

.dropdown dt a {
	background: #f5f5f5;
	display:block;
	overflow:hidden;
	padding: 12px 13px 10px 13px;
  color: #A3A3A3;
}
.dropdown dt a:hover { color:#666; }
.dropdown dt a:after {
  content:'\e88d';
  font-family:'fontello';
  display:inline-block;
  font-style:normal;
  position: absolute;
  top: 50%; right: 15px;
  margin-top: -5px;
  height: 10px;
  line-height: 10px;
}
.dropdown dt a.selected {
  color: #666;
}

.dropdown dt a span {
	cursor:pointer;
	display:block;
}

.dropdown dd ul {
	background:#E0E0E0;
	color:#666;
	display:none;
	left:1px;
	position:absolute;
	top:-1px;
  /*left: -1px;*/
	width:100%;
	list-style:none;
/*	-webkit-box-shadow: 0px 0 1px 1px #DBDEE1;
	-moz-box-shadow: 0px 0 1px 1px #DBDEE1;
	box-shadow: 0px 0 1px 1px #DBDEE1; */
	z-index: 99;
}
.dropdown span.value { display:none;}
.dropdown dd ul li a {
	display:block;
	padding: 12px 13px 10px 13px;
}
.dropdown dd ul li a:hover {
	background: #ccc;
}

@media only screen and (max-width:950px){
  #contact_form .field .ph-text,
  .dropdown dd, 
  .dropdown dt, 
  .dropdown ul{
    font-size:14px !important;
    line-height:2em !important;
  }
  #swipe_lock .swipe_text{
    font-size:14px !important;
    /*line-height:2em !important;*/
  }
}