//_start_a_business.scss

.start-a-business-splash-wrap{
	
	@include clearfix;

	.node-single-with-image{
		width:100%;
		max-width:$max-width;
		margin:auto !important;
		float:none;
		padding:128px 0 0 0;
	}
	.field-name-field-img{
		width:14%;
		float:left;
		margin:68px 0 0 12%;
		img{
			width:94px;
		}
	}
	.field-name-field-heading{
		@include font-droid-2;
		float:right;
		width:74%;
		//padding:0 0 0 5%;
	}
	.field-name-body{
		@include font-helv-9;
		float:right;
		width:61%;
		padding:15px 13% 0 0;
	}
}

/* Start Items */
.start-Items-wrap{
	@include max-width;
	padding:90px 0 0 0 !important;

	.panel-pane{
		width:30%;
		float:left;
		min-height:350px;
		margin:0 1.666% 0 1.666%;
	}
}
.start-items{
	.field-name-field-heading{
		width:100%;
		border-bottom:1px solid $grey-nine;
		text-align:center;
		margin:0 0 35px 0;
		
		.field-items{
			width:40px;
			height:40px;
			margin:0 auto -20px auto;
			background:$blue;
			@include border-radius(50px);
			
			.field-item{
				@include font-helv-7;
				padding:7px;
			}
		}

	}
	.field-name-field-sub-heading{
		@include font-droid-5;
	}
	.field-name-body{
		margin:15px 0 0 0;
		@include font-helv-3;
	}
	.field-name-field-link{
		margin:15px 0 0 0;
		a{
			float:left;
		}
	}
	.field-name-field-link:after{
		
		@include link-arrow($blue,2px);
	}
}
.start-tips-wrap{
	background:$grey-six;

	.node-single{
		padding:1px 0 0 0;
	}
}